<div class="container">
  <h1 *ngIf="role === 'ADMIN'">Admin page</h1>
  <h1 *ngIf="role === 'CA'">CA page</h1>
  <h1 *ngIf="role === 'USER'">User page</h1>

  <div class="button-row">
    <button *ngIf="role === 'ADMIN'" [routerLink]="['/users/ca/new']">
      Create CA user
    </button>
    <button *ngIf="role == 'ADMIN' || role == 'CA'" [routerLink]="['/create-certificate']">
      Create certificate
    </button>
    <button (click)="logout()" [routerLink]="['']">Logout</button>
    <div class="button-row">
      <button *ngIf="role === 'ADMIN' || role === 'CA'" 
              [disabled]="!selectedCert"
              (click)="openRevokeDialog()">
        Revoke Certificate
      </button>
    </div>
  </div>

  <div class="table-container">
    <app-certificate-table [certData]="(certData$ | async) || []"></app-certificate-table>
  </div>
</div>
