<span class="section-title">Subject</span>
<div class="attr-value">
    <span class="attr">Common name:</span><span class="value">{{certData.subjectCN}}</span>
</div>
<div class="attr-value">
    <span class="attr">Organization:</span><span class="value">{{certData.subjectO}}</span>
</div>
<div class="attr-value">
    <span class="attr">Org. Unit:</span><span class="value">{{certData.subjectOU}}</span>
</div>
<span class="section-title">Issuer</span>
<div class="attr-value">
    <span class="attr">Common name:</span><span class="value">{{certData.issuerCN}}</span>
</div>
<div class="attr-value">
    <span class="attr">Organization:</span><span class="value">{{certData.issuerO}}</span>
</div>
<div class="attr-value">
    <span class="attr">Org. Unit:</span><span class="value">{{certData.issuerOU}}</span>
</div>