<form [formGroup]="certificateForm" (ngSubmit)="submit()">
  <h2>Certificate Creation</h2>
  <mat-form-field appearance="outline">
    <mat-label>Certificate Type</mat-label>
    <mat-select formControlName="certType">
      <mat-option *ngFor="let type of certTypes" [value]="type">
        {{ type }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <!-- Issuer -->
  <div *ngIf="certificateForm.get('certType')?.value != 'ROOT'">
    <h4>Available issuers</h4>
    <app-select-certificate [certData]="(this.certData | async) || []" (onCertSelected)="onCertSelected($event)"></app-select-certificate>
  </div>

  <!-- Template -->
  <mat-form-field *ngIf="this.templates.length > 0">
    <mat-label>Template (Optional)</mat-label>
    <mat-select formControlName="templateId" [(ngModel)]="selectedTempId" (selectionChange)="tempSelectChanged()">
      <mat-option [value]="0"></mat-option>
      @for (temp of templates; track temp) {
        <mat-option [value]="temp.id">{{temp.templateName}}</mat-option>
      }
    </mat-select>
  </mat-form-field>
  <button mat-button (click)="showTemplateDetails()" *ngIf="selectedTemplate != null">Template details</button>

  <!-- Subject -->
  <fieldset formGroupName="subject">
    <h2>Subject Info</h2>
    <mat-form-field appearance="outline">
      <mat-label>Common Name</mat-label>
      <input matInput formControlName="commonName" />
      <mat-error *ngIf="certificateForm.get('subject.commonName')?.hasError('required')">
        Common Name is required.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Organization</mat-label>
      <input matInput formControlName="organization" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Organizational Unit</mat-label>
      <input matInput formControlName="orgUnit" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Country</mat-label>
      <input matInput maxlength="2" formControlName="country" />
      <mat-error *ngIf="certificateForm.get('subject.country')?.hasError('required')">
        Country is required.
      </mat-error>
      <mat-error *ngIf="certificateForm.get('subject.country')?.hasError('minlength') 
        || certificateForm.get('subject.country')?.hasError('maxlength')">
        Must be exactly 2 characters.
      </mat-error>
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>State</mat-label>
      <input matInput formControlName="state" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>Locality</mat-label>
      <input matInput formControlName="locality" />
    </mat-form-field>
  </fieldset>

  <!-- Validity -->
  <h2>Validity</h2>
  <mat-form-field appearance="outline">
    <mat-label>Valid From</mat-label>
    <input matInput type="datetime-local" formControlName="notBefore" />
    <mat-error *ngIf="certificateForm.get('notBefore')?.hasError('required')">
      Valid From date is required.
    </mat-error>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>Valid To</mat-label>
    <input matInput type="datetime-local" formControlName="notAfter" />
    <mat-error *ngIf="certificateForm.get('notAfter')?.hasError('required')">
      Valid To date is required.
    </mat-error>
  </mat-form-field>

  <mat-error *ngIf="certificateForm.hasError('tooLong')">
    Certificate validity cannot exceed {{this.selectedTemplate?.ttl}} days.
  </mat-error>

  <h2>Extensions</h2>

  <!-- SAN -->
  <div formArrayName="san">
    <h4>Subject Alternative Names</h4>
    <button mat-stroked-button type="button" (click)="addSan()">+ Add SAN</button>
    <div class="listing">
      <div *ngFor="let sanGroup of san.controls; let i = index" [formGroupName]="i">
        <mat-form-field appearance="outline">
          <mat-label>Type</mat-label>
          <mat-select formControlName="type" (selectionChange)="sanSelectChanged(i)">
            <mat-option *ngFor="let type of this.allowedSANTypes" [value]="type">{{type}}</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label>Value</mat-label>
          <input matInput formControlName="value" />
          <mat-error *ngIf="sanGroup.get('value')?.invalid">
            {{ sanGroup.get('value')?.hasError('required') == true ? 'Required' : 'Error, check template details' }}
          </mat-error>
        </mat-form-field>

        <button mat-icon-button color="warn" type="button" (click)="removeSan(i)">
          <mat-icon>delete</mat-icon>
        </button>
      </div>
    </div>
  </div>

  <!-- Key usage -->
  <h2 class="font-semibold mt-4">Key Usages</h2>
  <mat-selection-list formControlName="keyUsage">
    <mat-list-option *ngFor="let usage of keyUsageOptions" [value]="usage">
      {{ usage }}
    </mat-list-option>
  </mat-selection-list>

  <!-- Extended Key usage -->
  <h2 class="font-semibold mt-4">Extended Key Usages</h2>
  <mat-selection-list formControlName="extendedKeyUsage">
    <mat-list-option *ngFor="let ext of extKeyUsageOptions" [value]="ext">
      {{ ext }}
    </mat-list-option>
  </mat-selection-list>

  <!-- Basic Constraints -->
  <h4 *ngIf="certificateForm.get('certType')?.value != 'END_ENTITY'">Basic Constraint</h4>
  <mat-form-field appearance="outline" *ngIf="certificateForm.get('certType')?.value != 'END_ENTITY'">
    <mat-label>Path Length Constraint</mat-label>
    <input matInput type="number" formControlName="pathLenConstraint" />
  </mat-form-field>

  <h4 style="color: red;">{{errorMessage}}</h4>
  <h4 style="color: blue">{{successMessage}}</h4>
  <button mat-raised-button color="primary">Create Certificate</button>
</form>